*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

::selection {
  background-color: #6D5D4B;
  color: #f9f7f6; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(7, min-content);
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr); }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
  text-align: center; }

.heading-2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin-bottom: 5rem; }
  .heading-2::after {
    content: "";
    width: 10rem;
    height: 2px;
    background-color: #B28451;
    display: block;
    margin: auto;
    margin-top: 3rem; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #B28451;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #6D5D4B; }

/*.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }*/
.header {
  background-color: #54483A;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header__nav {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .header__logo {
    grid-column: 1 / 2;
    height: 5rem; }
  .header__menu {
    grid-column: 2 / 3;
    list-style: none;
    line-height: 5rem;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .header__menu {
        display: none; } }
    .header__menu li {
      margin-right: 3rem;
      font-size: 1.5rem;
      font-weight: 300; }
      .header__menu li a {
        color: #aaa;
        text-decoration: none; }
        .header__menu li a:hover {
          color: #6D5D4B; }
  .header__search {
    grid-column: 3 / -1;
    justify-self: flex-end;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .header__search {
        display: none; } }
    .header__search svg {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      fill: #aaa;
      margin-top: 1.2rem;
      margin-right: 1rem; }
      .header__search svg:hover {
        fill: #6D5D4B; }
    .header__search--btn {
      padding: 1rem 2rem;
      border-radius: 10rem;
      font-weight: 300;
      text-decoration: none;
      font-size: 1.2rem;
      color: #f9f7f6;
      line-height: 2rem;
      background-image: linear-gradient(to right, #B28451, #6D5D4B);
      transition: .5s;
      cursor: pointer;
      height: 4rem;
      width: fit-content;
      text-align: center;
      border: none; }
      @media only screen and (max-width: 37.5em) {
        .header__search--btn {
          font-size: 1.1rem; } }
      .header__search--btn:hover {
        background-image: linear-gradient(to left, #B28451, #6D5D4B); }
  .header__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 5px 5px 5px 5px #000;
    justify-items: center;
    margin: auto; }
    .header__box--head {
      grid-column: 1/ -1;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center; }
      .header__box--head p {
        color: #aaa;
        font-size: 1.5rem; }
    .header__box--cta {
      border: none;
      border-radius: 0;
      text-transform: uppercase;
      padding: 1.1rem 3rem;
      cursor: pointer; }
      .header__box--cta svg {
        width: 2rem;
        height: 2rem; }
    .header__box--category {
      grid-column: 1 / -1;
      display: flex;
      justify-content: center; }
  .header__btn {
    justify-self: center;
    margin-top: 5rem; }

.invisible {
  display: none;
  margin-top: -1rem; }
  .invisible p {
    background-image: linear-gradient(to left, #B28451, #6D5D4B);
    width: 8rem;
    height: 4rem;
    text-align: center;
    line-height: 3.5rem; }

.visible {
  display: flex;
  margin-top: -1rem; }
  .visible p {
    background-image: linear-gradient(to left, #B28451, #6D5D4B);
    width: 8rem;
    height: 4rem;
    text-align: center;
    line-height: 3.5rem; }

.arrow {
  width: 8rem;
  height: 4rem;
  background-color: #aaa;
  text-align: center;
  line-height: 5rem; }

.box__title {
  margin-right: 3rem;
  font-size: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .box__title {
      margin: 3rem;
      margin-top: -1rem; } }
  .box__title--head {
    margin-bottom: 1rem; }
  .box__title select {
    color: #fff;
    background-color: transparent;
    width: 20rem;
    height: 3rem;
    cursor: pointer;
    border-radius: .25rem;
    border: 1px solid grey; }
    @media only screen and (max-width: 37.5em) {
      .box__title select {
        width: 14rem; } }
  .box__title option {
    color: #B28451;
    transition: all .2s; }
    .box__title option:hover {
      color: #000;
      border: 1px solid grey; }

.navigation {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      display: block; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #B28451;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    background-image: radial-gradient(#c69963, #B28451);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    @media only screen and (max-width: 25em) {
      .navigation__nav {
        margin-top: 10rem; } }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #f9f7f6;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f9f7f6 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #c69963;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.realtors {
  grid-column: 1 / -1;
  margin: 5rem 5rem; }

.realtor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem; }
  @media only screen and (max-width: 50em) {
    .realtor {
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); } }

.agent:hover > .agent__links {
  display: block; }

.agent__links {
  display: none;
  background-color: #101d2c;
  opacity: .7;
  transform: translateY(-110%);
  text-align: center;
  padding: 1rem;
  border-radius: 5px; }

.agent svg {
  fill: #aaa;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-right: 1.2rem; }
  .agent svg:hover {
    fill: #c69963; }

.agent__img {
  width: 100%;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .5s ease; }
  .agent__img:hover {
    filter: blur(1px); }

.agent:hover > .agent__name {
  margin-top: -3rem; }

.agent__name {
  text-align: center;
  font-size: 1.5rem; }

.agent__job {
  text-align: center;
  font-size: 1.2rem; }

.features {
  grid-column: 2 / 10;
  margin: 10rem 0; }

@supports (display: grid) {
  .about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start; } }

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.rate {
  grid-column: 2 / 10;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5rem; }
  @media only screen and (max-width: 50em) {
    .rate {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-row-gap: 5rem; } }
  .rate__feature {
    text-align: center; }
    .rate__feature--head {
      font-size: 4rem;
      font-weight: 500;
      text-transform: lowercase; }
    .rate__feature--body {
      text-transform: uppercase;
      font-size: 2rem; }

.testimonials {
  grid-column: 1 / -1;
  margin: 15rem 4rem; }

.testimonial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem; }
  @media only screen and (max-width: 50em) {
    .testimonial {
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); } }

.client {
  background-color: #f9f7f6;
  position: relative;
  color: #000;
  padding: 2rem; }
  .client::before {
    content: "";
    position: absolute;
    background-color: #B28451;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-top: -4rem;
    margin-left: -1rem; }
  .client::after {
    content: "\201C";
    position: absolute;
    color: #f9f7f6;
    top: -3rem;
    font-size: 6rem; }
  .client__review {
    margin-top: 1rem;
    font-size: 1.1rem; }
  .client__info {
    margin-top: 3rem;
    display: flex; }
    .client__info--box {
      margin-left: 1rem; }
    .client__info--name {
      font-size: 1.2rem; }
    .client__info--job {
      text-transform: uppercase;
      color: #6D5D4B; }
  .client img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%; }

.properties {
  grid-column: 2 / 10;
  margin: 15rem 0; }
  .properties__btn {
    justify-self: center;
    margin-top: 3rem;
    grid-column: 2 / 2; }
    @media only screen and (max-width: 50em) {
      .properties__btn {
        margin-left: -10rem;
        justify-self: auto; } }

.homes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin-top: 3rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .home__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1; }
  .home__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #c69963;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
    cursor: pointer; }
  .home__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1 / -1; }

.house__btn {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 2;
  justify-self: start;
  margin: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .house__btn {
      padding: 1rem 1.5rem; } }

.gallery {
  grid-column: 1 / -1;
  margin: 3rem 0;
  margin-bottom: -1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr); }
  @media only screen and (max-width: 50em) {
    .gallery {
      grid-template-columns: repeat(5, 1fr); } }
  .gallery__item {
    position: relative; }
    .gallery__item:hover > .gallery__item--zoom {
      display: block; }
      @media only screen and (max-width: 62.5em) {
        .gallery__item:hover > .gallery__item--zoom {
          display: none; } }
    .gallery__item--zoom {
      display: none; }
      .gallery__item--zoom::before {
        content: "";
        position: absolute;
        background-color: #B28451;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .gallery__item--zoom svg {
        position: absolute;
        fill: #f9f7f6;
        display: block;
        width: 2rem;
        height: 2rem;
        top: 12rem;
        left: 8.6rem;
        cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .gallery__item--1, .gallery__item--5 {
        display: none; } }
  .gallery__img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    overflow: hidden;
    opacity: .9;
    transition: all .5s; }
    .gallery__img:hover {
      opacity: 1;
      transform: scale(0.95); }
      @media only screen and (max-width: 50em) {
        .gallery__img:hover {
          transform: none; } }

.footer {
  grid-column: 1 / -1;
  background-color: #101d2c;
  margin-top: 9.5rem;
  padding: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 1rem; } }
  .footer__head {
    color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    @media only screen and (max-width: 50em) {
      .footer__head {
        grid-column-gap: 2rem; } }
  .footer svg {
    width: 2rem;
    height: 2rem;
    fill: #6D5D4B;
    margin-right: 1rem;
    cursor: pointer; }
  .footer__contact--head {
    margin-bottom: 4rem;
    font-size: 1.5rem; }
  .footer__contact--body {
    grid-template-rows: repeat(4, 1fr); }
  .footer__part {
    display: flex; }
  .footer p {
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  .footer__end {
    margin: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3rem; }

.links {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem; }
  .links::before {
    content: "";
    position: absolute;
    background-color: #B28451;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-top: 1rem; }
  .links svg {
    fill: #f9f7f6;
    margin-left: 1rem;
    margin-top: 2rem;
    position: absolute; }
