.features {
    grid-column: 2 / 10;

    margin: 10rem 0;

    @supports(display: grid) {
        display: grid;
        //grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 6rem;
        align-items: start;
    }

    &__head {
        grid-column: 1 / -1;
    }
}

.feature {

    float: left;
    width: 33.3333%;
    margin-bottom: 6rem;

    animation-name: fadeIn;
    animation-duration: 1s;

    @supports(display: grid) {
        width: auto;
        margin-bottom: 0;
    }

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
    }

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}

//RATE
.rate {
    grid-column: 2 / 10; 
    margin-bottom: 10rem;

    display: grid;
    //grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 4rem;

    animation-name: fadeInUp;
    animation-duration: 1s;
    
    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-row-gap: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 5rem;
    }

    &__feature {
        text-align: center;
        
        &--head {
            font-size: 4rem;
            font-weight: 500;
            text-transform: lowercase;
        }

        &--body {
            text-transform: uppercase;
            font-size: 2rem;
        }
    }
}